@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

.main {
    background-image: url("assets/img/bg.jpg");
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw)
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;



}

.main nav {
    max-width: 80vw;
    margin: auto;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 95px;
}

.main-text {
    color: white;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", serif;
    font-weight: 900;
    padding: 30px;
    text-align: center;
}

.main-text> :nth-child(1) {
    font-size: 56px;
    line-height: 70px;


}

.main-text> :nth-child(2) {
    font-size: 56px;
    line-height: 70px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;


}

.main-text> :nth-child(3) {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
}

.main-text> :nth-child(4) {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.separation {
    border-top: 5px solid rgb(178, 46, 46);
    background-clip: padding-box;
    width: 100%;
    height: 20%;
    position: absolute;
    border-top-left-radius: 90% 50%;
    border-top-right-radius: 90% 50%;
    top: 90%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(0, 51, 255, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;

}

.btn-1 {
    border: 1px solid gray;
    padding: 18px 80px;
    border-radius: 4px;
    text-align: left;
    font-size: large;
    background-color: transparent;
    color: white;
    padding-right: 100px;



}

#language {
    padding: 5px 26px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: 18px;margin-right: 5px;
}

#sign-in-button {
    background-color: red;
    padding: 6px 15px;
    border-radius: 5px;
    font-weight: 600px;
    font-size: large;
    color: white;
    border: none;
}

label {
    background-color: red;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 8px;
}

.trending {
    position: relative;
    color: white;
    top: 45%;
    left: 10%;
    font-size: larger;
    font-weight: 500;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

#two-select {
    position: relative;
    left: 10%;
    top: 60%;

}

#two-select select {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    color: white;
    font-weight: bolder;
    margin-right: 20px;
    border-radius: 2px;
}

.content {
    display: flex;
    width: 100%;
    margin-top: 140px;
    justify-content: center;
    gap: 50px;

}

.content .image-container {
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease;

}

.content img {
    border-radius: 10px;
}

.content .numbers {
    position: absolute;
    color: rgb(0, 0, 0);
    bottom: 20px;
    right: 80%;
    font-size: 100px;
    font-weight: 900;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;


}

.image-container:hover {
    transform: scale(1.05);
}

#tarif {
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    position: relative;
    left: 10%;
}

.container {
    display: flex;
    gap: 10px;
    color: white;
    position: relative;
    left: 10%;
    margin-right: 300px;

}

.tarif-container {
    border-radius: 20px;
    width: 30%;
    box-sizing: border-box;
    background: linear-gradient(10deg, #480b287c, #5313767b, rgba(26, 21, 76, 0.684));




}

.bait-discription {
    box-sizing: border-box;
    height: 50%;

    padding: 20px;
}

.bait {
    padding-bottom: 10px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 24px;

}

.discription {
    padding-bottom: 100px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 16px;


}

#asked-questions {
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    position: relative;
    left: 10%;
    margin-top: 30px;
}

.FAQ {
    position: relative;
    left: 10%;
    margin-right: 20%;
}

.questions {
    width: 100%;
    height: 70px;
    background-color: rgb(45, 47, 45);
    margin-bottom: 10px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.questions:hover{
    background-color: rgb(87, 87, 87);
}

.questions div:first-child {
    color: white;
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    margin-left: 3%;
}
.questions div:last-child{
    color: white;
    font-size: 50px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 100;
    margin-right: 3%;
}
#watch{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.again-sign{
    display: flex;
    justify-content: center;
}
.again-sign .btn-1{
    color: lightgray;
    border: 1px solid gray;
    margin-right: 5px;
}
.again-sign .btn-1::placeholder{
    color: lightgray;
    text-align: left;

}
.again-sign .get-started{
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 800;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
#call{
    margin-top: 50px;
    color: lightgray;
    position: relative;
    left: 10%;


}
#call a{
    color: lightgray;
    margin-left: 5px;
}
.footer{
    margin-top: 20px;
    display: flex;

    position: relative;
    left: 10%;
    margin-right: 20%;
    color: lightgray;

}
.links{

    width: 100%;


}
.links a{
    color: lightgray;
    display: block;
    margin: 5px;
    margin-bottom: 12px;
}
.again-language{
    position: relative;
    left: 10%;
    margin-top: 40px;

}
#credentials{
    color: lightgray;
    position: relative;
    left: 10%;
    margin-top: 40px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;;
}